/* Light Mode */
:root {
  --sidebar-bg: #d3d3d3; /* Light gray for sidebar and navbar */
  --navbar-bg: #d3d3d3; /* Light gray for navbar */
  --text-color: #0d0e0e; /* Black text and icons */
  --main-bg: #ffffff; /* White background for main content */
  --primary-light: #f4f4f4; /* Optional subtle light background */
  --secondary: #555; /* Secondary text color for light mode */
}

/* Dark Mode */
[data-theme='dark'] {
  --sidebar-bg: #144641; /* Black for sidebar and navbar */
  --navbar-bg: #000000; /* Black for navbar */
  --text-color: #ffffff; /* White text and icons */
  --main-bg: #5f5f5f; /* Dark gray for main content */
  --primary-dark: #1a1a1a; /* Slightly lighter black for body background */
  --secondary-dark: #b0b0b0; /* Gray for secondary text in dark mode */
}

/* General Styles */
body {
  background-color: var(--primary-light);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

[data-theme='dark'] body {
  background-color: var(--primary-dark);
}

.sidebar {
  background-color: var(--sidebar-bg);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.navbar {
  background-color: var(--navbar-bg);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

main {
  background-color: var(--main-bg);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

button {
  cursor: pointer;
  color: var(--text-color);
  transition: color 0.3s;
}
